%div.card
  %div.header
    %h1 Movies filters
  %div.body
    .filters
      = link_to raw('<i class="bi bi-search"></i> For kids'), movies_filters_for_kids_path ,class: "btn btn-primary "
      Recently reviewed
      = form_tag recently_review_path, :method => :post do
        
        %div.formInline
          
          = text_field :query , :day , class: 'custom'
          = button_tag(type: "submit", class: "btn btn-primary btn-search") do 
            <i class="bi bi-search"></i> Search
    %div.table-broder
      %table#movies
        %thead
          %tr
            %th id
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
            %th All review
        %tbody
          =render :partial=>'movie', :collection=>@movies
  %div.footer
    = link_to raw('<i class="bi bi-reply"></i> Back to movie list'), movies_path ,class: "btn btn-warning"
