%div.card
  %div.header
    %h1 All Movies
  %div
    - if @current_user
      %p.welcome  Welcome, 
      = link_to 'Log Out', logout_path
    - else
      %p.login=link_to 'Log in with your Twitter account',login_path('twitter')
  %div.body
    %div.table-broder
      %table#movies
        %thead
          %tr
            %th id
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
        %tbody
          - @movies.each_with_index do |movie,index|
            %tr
              %td= index
              %td= movie.title 
              %td= movie.rating
              %td= movie.release_date
              %td= link_to "More about #{movie.title}", movie_path(movie)

    = link_to "Add new movie", new_movie_path ,class: "btn btn-primary"
    = link_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary"
    = button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary"