%div.card
  %div.header
    %h1 All Movies
  %div.body
    %div.table-broder
      %table#movies
        %thead
          %tr
            %th id
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
            %th All review
        %tbody
          - @movies.each_with_index do |movie,index|
            %tr
              %td= index+1
              %td= movie.title 
              %td= movie.rating
              %td= movie.release_date
              %td= link_to "More about #{movie.title}", movie_path(movie)
              %td= link_to "All reviews for this moview", movie_reviews_path(movie)

    = link_to raw('<i class="bi bi-plus-circle"></i> Add new movie'), new_movie_path ,class: "btn btn-primary"
%div.card
  %div.header
    %h1 Search TMDb for a movie
  %div.body
    = form_tag search_query_path, :method => :post do
      %div.formInline
        = text_field :query , :value , class: 'custom'
        = button_tag(type: "submit", class: "btn btn-primary btn-search") do 
          <i class="bi bi-search"></i> Search
        