%div.card
  %div.header
    %h1 All Movies
  %div.logInTwitter
    %div.profile
      - if @current_user
        %img{:src => session[:image]}
        %p.welcome 
          = session[:name]
        = button_to raw('<i class="fas fa-sign-out-alt"></i> Log Out'), logout_path,method: :post ,class: "btn btn-danger"
      - else
        =button_to raw('<i class="fab fa-twitter"></i> Log in with Twitter'),'/auth/twitter' ,method: :post ,class: "btn btn-primary"
  %div.body
    %div.table-broder
      %table#movies
        %thead
          %tr
            %th id
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
        %tbody
          - @movies.each_with_index do |movie,index|
            %tr
              %td= index
              %td= movie.title 
              %td= movie.rating
              %td= movie.release_date
              %td= link_to "More about #{movie.title}", movie_path(movie)

    = link_to "Add new movie", new_movie_path ,class: "btn btn-primary"