%div.card
  %div.f-block
    = form_tag movie_review_path(@movie,@review), :method => :put do
      %div.header
        %h1 Edit Review : #{@movie.title}
      %div.body.p-0
        = render :partial => 'reviews_form'
      %div.footer
        = button_tag(type: "submit", class: "btn btn-primary") do 
          <i class="bi bi-shift"></i> Update Review Info
        = link_to raw('<i class="bi bi-reply"></i> Cancel'), movie_reviews_path(@movie) , class: "btn btn-warning"