%div.card
  %div.f-block
    = form_tag movie_reviews_path(@movie,@review), :method => :post do
      %div.header
        %h1 Create New Review : #{@movie.title}
      %div.body.p-0
        = render :partial => 'reviews_form'
      %div.footer
        = button_tag(type: "submit", class: "btn btn-primary") do 
          <i class="bi bi-save"></i> Save changes
        = link_to raw('<i class="bi bi-reply"></i> Cancel'), movie_reviews_path(@movie) , class: "btn btn-warning"