!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel => "stylesheet", :href => 'https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css', :integrity => "sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" , :crossorigin => "anonymous"}
    %link{:rel => "stylesheet", :href => 'https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css', :integrity => "sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" , :crossorigin => "anonymous"}
    %link{:rel => "stylesheet", :href => 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css', :integrity => "sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" , :crossorigin => "anonymous"}
 
  %body
    = render "layouts/header"

    %div.code#main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
